<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= title %></title>

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="Amit Prafulla"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&family=Source+Sans+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/tachyons.css">    
    <link rel="stylesheet" href="/css/styles.css">

</head>