<!DOCTYPE html>
<html lang="en">
<meta name="description" content="Free Web tutorials">
<meta name="keywords" content="HTML, CSS, JavaScript">
<meta name="author" content="John Doe">
<%- include('partials/header', { title: 'Express - Superchat' , description: "A superchat application in Express" ,
  keywords: 'Express, Chat' }) %>

  <body id="body">
    <%- include('partials/navbar') %>
      <p id="error" class="f4 fw6 ph0 mh0 bg-dark-red"></p>
      <div id="userFormContainer" class="pa4 w-50 black-80">
        <img class="mt5" src="images/chat.png" height="300" width="400">
        <form id="userForm" method="POST">
          <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <h3 class="f4 para fw6 ph0 mh0">Express your heart out!</h3>
            <div class="mt3">
              <label class="db fw6 lh-copy f6" for="username">Username</label>
              <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text"
                name="username" id="username">
            </div>
          </fieldset>
          <div class="">
            <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit"
              value="Join Room">
          </div>
        </form>
      </div>

      <div id="chatContainer" class="mw9 center ph3-ns">
        <div class="cf pa4 mv5 ph2-ns">
          <h3 class="tc mv3" id="welcomeMessage"></h3>
          <div class="fl w-100 w-50-ns pa2">
            <form id="chatForm" method="POST">
              <div>
                <input placeholder="Type something here!"
                  class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="text"
                  name="chatInput" id="chatInput">
              </div>
              <div>
                <input class="b ph4 mv4 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" type="submit"
                  value="Submit">
              </div>
            </form>
            <div class="outline bg-white pa2">
              <h3 class="pa3 tc mv2">Messages</h3>
              <ul id="messageList" class="list pl0">

              </ul>
            </div>
          </div>
          <div class="fl w-100 w-50-ns pa2">
            <div class="outline tc bg-white pv2">
              <h3 class="pa3">Users Currently Chatting</h3>
              <ul id="userList" class="list pl0">

              </ul>
            </div>
          </div>
        </div>
      </div>

      <%- include('partials/footer') %>
      <%- include('partials/scripts') %>
  </body>

</html>